.back-btn{
    margin: 20px;
}

.wrap{
    display: inline-block;
    width: 1000px;
    vertical-align: center;
    margin-top: 200px;
}

.post {
    margin: 20px;
    margin-top:30px;
}

.comment-from {
    width: 800px;
    display: inline-block;
    vertical-align: center;
}
.comment {
    width: 800px;
    display: inline-block;
    vertical-align: center;
    text-align: left;
}
.message-body{
}