.detail-btn{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.wrap{
    display: inline-block;
    width: 1000px;
    vertical-align: center;
    margin-top: 200px;
}

.post {
    margin: 20px;
    margin-top:30px;
}

.comment-form {
    width: 950px;
    display: inline-block;
    vertical-align: center;
    margin: 30px;
}
.comment {
    width: 950px;
    display: inline-block;
    vertical-align: center;
    text-align: left;
}
.message-body{
}