.title{
    margin-top: 100px;
    margin-left: 100px;
}

.header{
    margin-top: 100px;
    margin-left: 1000px;
}

.post-list{
    margin-left: 300px;
    margin-top: 200px;
    text-align: left;
    width: 1000px;
}

.post-title{
    border-right-width: 1px;
    border-right-color: #61dafb;
}

.post-user{
    width:200px;
}
.post-date{
    width:200px;
}

.button{
    margin:5px;
}

a:link{
    color:steelblue;
}
a:visited{
    color:steelblue;
}
a:hover{
    color:deepskyblue;
}
